:root {
    --bg-orange: #F6B148;
    --bg-dark: #141414;
    --bg-light-dark: #212121;
    --white: #fff;
    --color-muted: #848484
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
}

.hero__anchors {
    color: var(--white);
    font-size: 1.1rem;
}

.hero__anchors--capitalize {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--white);
}

.navbar-nav {
    gap: 10px;
}

.nav__logo {
    width: 60%;
    height: 100%;
}

.navbar-toggler {
    padding: 0rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    text-transform: uppercase;
    font-size: .9rem;
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    display: block;
    padding: .3rem .3rem;
}

.nav__search__container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav__search__container input {
    background-color: transparent;
    border: none;
    padding: 0 .5rem;
}

.nav__search__container input:focus {
    color: var(--bg-orange);
    border: none;
    outline: none;
    box-shadow: 0px 0px 0px 1px var(--bg-orange);
    border-radius: 5px;
}

.skills,
.projects,
.blog,
.experience {
    font-family: 'Gabriela', serif;
    margin: 8rem 0;
    text-align: center;
    padding: 1rem 1rem;
    color: var(--white);
}

.skills__header,
.projects__header,
.blog__header,
.footer__header,
.experience__header {
    color: var(--bg-orange);
    margin-bottom: 2rem;
}

.projects__navigation--muted {
    color: var(--color-muted);
}

.projects__navigation--muted:hover {
    color: var(--bg-orange);
}

.projects__navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    font-size: small;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--white);
    background-color: transparent;
    border-bottom: 2px solid var(--bg-orange);
}

.projects__content {
    overflow: auto;
}

.projects__content::-webkit-scrollbar {
    display: none;
}

.projects__image {
    position: relative;
    background-image: url(/images/image\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.projects__image:hover>.projects__image__details {
    background-blend-mode: overlay;
    background-color: #1414147e;
    opacity: 1;
}

.projects__image__details {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.projects__image__details p {
    margin: .7rem 0;
}

.projects__image__details__button {
    background-color: transparent;
    color: var(--white);
    font-size: medium;
    border: 1px solid var(--white);
    outline: none;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.projects__content__image__container {
    display: flex;
    flex-direction: row;
    width: max-content;
}

.projects__content__image__container--flex {
    display: flex;
    width: 700px;
}

.margin--5 {
    margin: 0;
}

.projects__image {
    margin-right: 20px !important;
}

.projects__more {
    text-align: center;
}

.project__more__button {
    padding: 1rem 3rem;
    border: none;
    outline: none;
    background: #F5EBC6;
    color: var(--bg-orange);
    border-radius: 5px;
}

.footer {
    font-family: 'Gabriela', serif;
    margin-top: 8rem;
    text-align: center;
    padding: 1rem 1rem;
    color: #fff;
    background: #212121;
}

.footer__content--border {
    border-bottom: 2px solid #141414;
    padding: 3rem 0;
}

.footer__content__button {
    background: #F6B148;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.footer__header {
    font-size: x-large;
}

@media(min-width: 768px) {
    .nav-item {
        margin-right: 1.3rem;
    }
    .nav__logo {
        width: 80%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: .8rem;
    }
    .hero__anchors--active {
        position: relative;
        border-bottom: 3px solid var(--bg-orange);
    }
    .skills__header,
    .projects__header {
        font-size: x-large;
    }
    .skills__stacks {
        line-height: 3rem;
        font-size: larger;
    }
    .nav-pills .nav-link {
        border-radius: 0rem;
        font-size: large;
    }
    /* Projects Styles */
    .projects__content__image__container--flex {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .projects__image__details__button {
        padding: .7rem 2rem;
    }
    .projects__image__details p {
        margin: 1.4rem 0;
    }
    .projects__content__image__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .margin--5 {
        margin: 2rem 0;
    }
}

@media (max-width: 400px) {
    .nav__search__container {
        display: none;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 0rem;
    }
}