:root {
    --bg-orange: #F6B148;
    --bg-dark: #141414;
    --bg-light-dark: #212121;
    --white: #fff;
    --color-muted: #848484
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
}

body {
    background: var(--bg-dark);
}

 ::-webkit-scrollbar-track {
    background-color: transparent;
}

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--bg-orange);
    border-radius: 50px;
}


/* Hero and Nav Styles */

.hero {
    font-family: 'Inter', sans-serif;
    background-image: url(/images/Network\ Sphere.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-orange);
    border-bottom-left-radius: 9950px;
    border-bottom-right-radius: 9950px;
    padding-bottom: 2rem;
}

.hero-content__image {
    width: 70px;
    height: 70px;
}

.hero__anchors {
    color: var(--white);
    font-size: 1.3rem;
}

.hero__anchors--capitalize {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--white);
}

.navbar-nav {
    gap: 10px;
}

@supports not (gap: 10px) {
    .hero-content>* {
        margin-bottom: 10px !important;
    }
    .gap-2>* {
        margin-right: 2rem !important;
    }
}

@supports not (gap: 20px) {
    .experience__card>* {
        margin-bottom: 20px !important;
    }
}

.nav__logo {
    width: 60%;
}

.navbar-toggler {
    padding: 0rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--bg-light-dark);
    text-transform: uppercase;
    font-size: .9rem;
}

.hero-content {
    font-family: 'Gabriela', serif;
    gap: 20px;
    padding: 0 1rem;
}

.hero-content__large--font {
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

.hero-content__des {
    letter-spacing: .2rem;
    font-size: .8rem;
}

.hero-content__btn {
    padding: .5rem 1rem;
    border-radius: 4px;
    background: var(--bg-dark);
    color: #fff;
    border: none;
    outline: none;
}

.hero-content__links {
    color: #212121;
    background-color: transparent;
    font-size: larger;
}

.hero-content__anchor {
    cursor: pointer;
}


/* Skills Styles */

.skills,
.projects,
.blog,
.experience {
    font-family: 'Gabriela', serif;
    margin: 8rem 0;
    text-align: center;
    padding: 1rem 1rem;
    color: var(--white);
}

.skills__header,
.projects__header,
.blog__header,
.footer__header,
.experience__header {
    color: var(--bg-orange);
    margin-bottom: 2rem;
}

.footer__header {
    font-size: x-large;
}

.skills__image {
    width: 100%;
}

.skills__stacks,
.skills__text {
    line-height: 3rem;
    font-size: large;
}

.projects__navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.nav-pills .nav-link {
    border-radius: 0rem;
    font-size: small;
}


/* Project Sec tion Styles */

.projects__navigation--muted {
    color: var(--color-muted);
}

.projects__navigation--muted:hover {
    color: var(--bg-orange);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--white);
    background-color: transparent;
    border-bottom: 2px solid var(--bg-orange);
}

.projects__content {
    overflow: auto;
}

.projects__content::-webkit-scrollbar {
    display: none;
}

.projects__image {
    position: relative;
    background-image: url(/images/image\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
    cursor: pointer;
}

.projects__image:hover>.projects__image__details {
    background-blend-mode: overlay;
    background-color: #1414147e;
    opacity: 1;
}

.projects__image__details {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.projects__image__details p {
    margin: .7rem 0;
}

.projects__image__details__button {
    background-color: transparent;
    color: var(--white);
    font-size: medium;
    border: 1px solid var(--white);
    outline: none;
    padding: .5rem 1rem;
    border-radius: 4px;
}

.projects__content__image__container--flex {
    display: flex;
    width: 700px;
}

.gap-2 {
    gap: 2rem;
}

.projects__more {
    text-align: center;
}

.project__more__button {
    padding: 1rem 3rem;
    border: none;
    outline: none;
    background: #F5EBC6;
    color: var(--bg-orange);
    border-radius: 5px;
}


/*Blog Section Styles   */

.blog__content--flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    overflow: auto;
}

.blog__content--flex::-webkit-scrollbar {
    display: none;
}

.blog__content__card {
    background-color: var(--bg-light-dark);
    padding: 1.5rem 1.5rem;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
}

.blog__content__card__buttons button {
    padding: .5rem 1rem;
    background: #F5EBC6;
    color: #000;
    border-radius: 4px;
}


/* Experience section styles */

.experience__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.experience__card__image {
    width: 260px;
    cursor: pointer;
}

.footer {
    font-family: 'Gabriela', serif;
    margin-top: 8rem;
    text-align: center;
    padding: 1rem 1rem;
    color: #fff;
    background: #212121;
}

.footer__content--border {
    border-bottom: 2px solid #141414;
    padding: 3rem 0;
}

.footer__content__button {
    background: #F6B148;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 5px;
}


/* MEDIA QUERIES FOR LARGE SCREENS */

@media(min-width: 768px) {
    /*Navbar and Hero Section Queries */
    .navbar {
        padding: 1rem 4rem;
    }
    .navbar-nav {
        gap: 40px;
    }
    @supports not (gap: 10px) {
        .hero-content>* {
            margin-bottom: 40px !important;
        }
    }
    .hero {
        height: 100%;
    }
    .nav__logo {
        width: 80%;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: .8rem;
    }
    /*Hero Section Styles   */
    .hero-content {
        width: 500px;
        gap: 30px;
    }
    .hero__anchors {
        font-size: 1rem;
    }
    .hero-content__des {
        font-size: 1rem;
    }
    .hero-content__large--font {
        font-size: 2.6rem;
    }
    .hero-content__btn {
        padding: 1rem 2rem;
    }
    .hero__anchors--active {
        position: relative;
        border-bottom: 3px solid #000;
    }
    /* Skills Section Styles */
    .skills__image {
        width: auto;
    }
    .skills__header,
    .projects__header {
        font-size: x-large;
    }
    .skills__stacks {
        line-height: 3rem;
        font-size: larger;
    }
    .nav-pills .nav-link {
        border-radius: 0rem;
        font-size: large;
    }
    /* Projects Styles */
    .projects__content__image__container--flex {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .projects__image__details__button {
        padding: .7rem 2rem;
    }
    .projects__image__details p {
        margin: 1.4rem 0;
    }
    /* Experience styles */
    .experience__card {
        flex-direction: row;
        gap: 20px;
        margin: 2rem 0;
    }
    .experience__card__image {
        width: 70%;
        cursor: pointer;
    }
}